
body {
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/** Main--------------------------------------------------------------------------------------------- */

.main-flexbox {
  display: flex;
}

p {
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.right-content, .right-content div {
  background-color: rgb(255, 255, 255);
}

/*Left section--------------------------------------------------------------------------------------- */

.left-content {
  width: 50%;
  height: 100vh;

  position: fixed;
  z-index: -1;
}

.left-pseudo {
  width: 50%;
  height: 100vh;
}

#main-title {
  font-size: 10em;
  text-align: right;
  margin: 0;

  color: rgb(76,50,223);
  font-family: Arial, Helvetica, sans-serif;
}

/* Default to width 50% and constraint for height */
#main-image {
  width: 50vw;
  height: auto;

  position: absolute;
  z-index: -1;
}

/* Custom aspect overflow */
@media (max-aspect-ratio: 1374/911) {
  #main-image {
    width:auto;
    height: 100vh;
  }
}

.bottom-icons {
  width:100%;
  
  bottom: 2.5%;
  position: absolute;
  justify-content: center;
}

/*Right Section-------------------------------------------------------------------------------------- */

#label {
  font-size: 10em;
  margin: 0% 5% 0 0;
  text-align: left;
  line-height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

.right-content {
  width: 50%;
}

.main-descriptor{
  font-size: 1em;
  text-align: right;

}


/* Grid content------------------------- */

.body-content {
  width: 100%;

  /* display: grid; */
  margin: 0% 0% 40px 0%;
  grid-template-columns: 40% 60%;

}

.title-spacer { 
  width:auto;

  grid-column-start: 1;
  grid-column-end: 2;

  background-color: aqua;
}

/*--------Entry-------------------------------*/

.titles p {
  font-size: 5em;
  line-height: 100%;

  margin: 0% 0% 5% 0%;
  grid-column-start: 2;
  grid-column-end: 3;

  font-family: Arial, Helvetica, sans-serif;

}

/* Thumbnail */
.big-thumbnail {
  width: 83%;
  height: auto;

  margin: 0% auto 5% auto; 

  border-radius: 30px;
  background-color: red;
  overflow: hidden;
}

.big-thumbnail img {
  width:100%;
}

/* Text */
.description {
  grid-column-start: -2;
  grid-column-end:-1;
}

.description p {
  margin: 0% 17% 0% 0%;
  font-style: italic;

}

